:root {
  /*Colores*/
  --orange: #F7931A;
  --soft-orange: #FFE9D5;
  --secondary-blue: #1A9AF7;
  --soft-blue: #E7F5FF;
  --warm-black: #201E1C;
  --black: #282623;
  --grey: #BABABA;
  --off-white: #FAF8F7;
  --just-white: #fff;
}
*{
  font-family: 'Dosis', sans-serif;
  font-size: 62.5%;
}
form{
  position: fixed;
  top: 75px;
  left: calc(50% - 135px);
  width: 270px;
  height: 200px;
  z-index: 999;
  border-radius: 10px;
  background-color: var(--off-white);
  box-shadow: 0px 4px 8px rgba( 87, 73, 30, 0.16);
}
form div{
  display: flex;
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-top: 20px;
}
form label{
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  margin-bottom: 10px;
}
form select {
  width: 65%;
  border: 1px solid var(--secondary-blue);
  border-radius: 10px;
  margin-left: 25px;
  font-size: 1.4rem;
  font-weight: 300;
}
form input {
  width: 90%;
  height: 50px;
  border: 1px solid var(--secondary-blue);
  border-radius: 10px;
  font-size: 1.4rem;
}
form button{
  width: 45px;
  height: 30px;
  border: 1 solid var(--just-white);
  border-radius: 5px;
  background-color: var(--secondary-blue);
  font-size: 1.4rem;
  color: var(--just-white);
}
.container-App{
  width: 100%;
  height: 100%;
  padding: 5px;
}
.App-header{
  width: 288px;
  max-width: 600px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: hsl(202.01deg 98.03% 39.8%);
}
.App-header h1{
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.4rem;
  align-self: center;
  color: #fff;
}
.container-list{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  min-width: 288px;
  min-height: calc( 100vh - 65px );
  height: auto;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: hsl(0deg 0% 85%);
  box-shadow: 0px 4px 8px rgba( 87, 73, 30, 0.30);

}
.container-list > p{
  font-size: 2.8rem;
  color: var(--grey);
  text-align: center;
}
.todo-container{
  width: 250px;
  height: 110px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 5px;
  background-color: var(--off-white);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba( 87, 73, 30, 0.16);
}
.todo-container--category{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
}
.todo-container--category span{
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  margin-left: 10px;
}
.todo-container--category input{
  margin-top: 5px;
  margin-right: 10px;
}
.todo-container p{
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2rem;
  margin-top: 5px;
  padding: 5px;
}
.btn-new--todo{
  position: fixed;
  left: calc( 50% - 25px);
  top: calc( 100vh - 65px );
  width: 50px;
  height: 50px;
  border: 3px solid var(--just-white);
  border-radius: 50%;
  background-color: var(--secondary-blue);
  box-shadow: 0px 4px 8px rgba( 87, 73, 30, 0.45);

}
.btn-new--todo i{
  font-size: 1.6rem;
  color: var(--just-white);
}